.dash-main {
    width: 1100px;
    margin-left: 150px;
    padding: 100px;
    border-radius: 16px;
    background-color: white;
}

.leading-btn {
    text-align: end;
}

.dash-main table {
    width: 90%;
    border: 2px solid #ABABAB;
    border-collapse: collapse;
}

.dash-main table thead {
    background-color: #EFEFEF;
}

.dash-main table th, td {
    padding: 8px;
    border: 1px solid #ABABAB;
}

.action {
    text-align: center;
}

.wrapper .btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background: rgb(45, 167, 224);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn a {
    text-decoration: none;
    color: #292929;
   
}



